- related_branches_path = related_branches_project_issue_path(@project, issuable)
- api_awards_path = local_assigns.fetch(:api_awards_path, nil)

.issue-details.issuable-details.js-issue-details
  .detail-page-description.content-block.js-detail-page-description.gl-pt-2.gl-pb-0.gl-border-none
    #js-issuable-app{ data: { initial: issuable_initial_data(issuable).to_json,
      issuable_id: issuable.id,
      full_path: @project.full_path,
      register_path: new_user_registration_path(redirect_to_referer: 'yes'),
      sign_in_path: new_session_path(:user, redirect_to_referer: 'yes') } }
      .title-container
        %h1.title.page-title.gl-font-size-h-display= markdown_field(issuable, :title)
      - if issuable.description.present?
        .description
          .md= markdown_field(issuable, :description)

      = edited_time_ago_with_tooltip(issuable, placement: 'bottom', html_class: 'issue-edited-ago js-issue-edited-ago')

    .js-issue-widgets
      = render 'shared/issue_type/emoji_block', issuable: issuable, api_awards_path: api_awards_path

  .js-issue-widgets
    = render 'shared/issue_type/sentry_stack_trace', issuable: issuable

    = render 'projects/issues/design_management'

    = render_if_exists 'projects/issues/work_item_links'
    = render_if_exists 'projects/issues/linked_resources'
    = render 'projects/issues/related_issues'

    #js-related-merge-requests{ data: { endpoint: expose_path(api_v4_projects_issues_related_merge_requests_path(id: @project.id, issue_iid: issuable.iid)), project_namespace: @project.namespace.path, project_path: @project.path } }

    - if can?(current_user, :admin_feature_flags_issue_links, @project)
      = render_if_exists 'projects/issues/related_feature_flags'

    - if can?(current_user, :read_code, @project)
      - add_page_startup_api_call related_branches_path
      #related-branches{ data: { url: related_branches_path } }
        -# This element is filled in using JavaScript.

  .js-issue-widgets

    = render 'projects/issues/discussion'

= render 'shared/issuable/sidebar', issuable_sidebar: @issuable_sidebar, assignees: @issue.assignees
